  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #94ecbc;
      color: #333;
    }
    header {
      background: #009231;
      color: white;
      padding: 20px;
      text-align: center;
    }
    img{
        float: center;
        width:100px; 
        margin-right:15px;
    }
    nav {
      background: #333;
      padding: 10px;
      text-align: center;
    }
    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
    }
    nav a:hover {
      text-decoration: underline;
    }
    .container {
      width: 50%;
      margin: 20px auto;
      gap: 20px;
    }
    article {
      background: white;
      padding: 5px;
      border-radius: 8px;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    }
    article p {
        font-size: small;
    }
    article h2 {
      margin-top: 0;
      color: #4a76a8;
    }
    footer {
      text-align: center;
      padding: 15px;
      background: #333;
      color: white;
      margin-top: 30px;
    }


